PORT=5000
MONGODB_URI=mongodb://localhost:27017/noon-academy
JWT_SECRET="faisal2892000"
JWT_EXPIRES_IN=7d

# Email / SMTP Settings (Optional - For Production)
# If these are not provided, it will fallback to generating Ethereal mock emails
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=zkryfysl@gmail.com
SMTP_PASS=tooo ntnq smcc bgsb

